<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Garbage Maintenance</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
   <div class="div-link">
      <a href="/log_out" class="link">Logout</a>
   </div>
   <div class="center">
      <div class="login-box">
         <h1>Admin Login</h1>
         <form action="/admin_login1" method="post">
            <div class="input-box">
               <input type="text" class="input-line" name="uname" placeholder="Username">
            </div>
            <div class="input-box">
               <input type="password" class="input-line" name="pass" placeholder="Password">
            </div>
            <button class="button" type="submit">login</button>
         </form>
      </div>
   </div>
</body>
</html>
