<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>smart garbage maintanance</title>
    <link rel="stylesheet" href="../static/style1.css">
</head>
<body>
      <nav class="nav-bar">
        <div class="logo">
            <h1>Smart garbage maintenance</h1>
        </div>
        <div class="nav-list">
          <ul>
              <li><a href="/admin_home">Home</a></li>
              <li><a href="/admin_add_team">add team</a></li>
              <li><a href="/admin_view_employee">view employee</a></li>
              <li><a href="/admin_view_user">view user</a></li>
              <li><a href="/admin_view_report"> view report</a></li>
              <li><a href="/admin_view_feedback">view feed back</a></li>
              <li><a href="/log_out">logout</a></li>
          </ul>
        </div>
      </nav>
      <div class="content">
        <div class="content-background">
          <h1>smart garbage maintanance</h1>
        <p>Transforming Trash into Tidy: Your Cleaning Companion</p>
        </div>
      </div>
</body>
</html>