<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>smart garbage maintanance</title>
    <link rel="stylesheet" href="../static/style1.css">
</head>
<body>
      <nav class="nav-bar">
        <div class="logo">
            <h1>Smart garbage maintenance</h1>
        </div>
        <div class="nav-list">
          <ul>
              <li><a href="/employee_home">Home</a></li>
              <li><a href="/employee_view_user">view user</a></li>
              <li><a href="/employee_allote_time">allate time</a></li>
              <li><a href="/employee_report">report</a></li>
              <li><a href="/log_out">logout</a></li>
          </ul>
        </div>
      </nav>
      <div class="center">
        <div class="holl-box">
            <h1>report box </h1>
            <form action="/employee_report_update" method="post">
                {%for i in items %}
                <div class="input-box">
                             <input type="text" class="input-line" name="name" value="{{i[1]}}" placeholder="name">

                </div>
                <div class="input-box">
                    <input type="text" class="input-line" name="area" value="{{i[7]}}" placeholder="area">

                </div>
                <div class="input-box">
                    <input type="text" class="input-line" name="content" placeholder="content">

                </div>
                <button class="button" type="submit">sumbit</button>
      
            </form>
        </div>
        <div class="request">
            <h1>send request for truck</h1>
            {% if i[12] == '1' %}
            <p class="process-p">you request is process</p>
            {% else %}
            <a href="/truck_request/{{ i[0] }}" class="status-other">Yes</a>
           {% endif %}
        </div>
      </div>

{% endfor %}
</body>
</html>
