<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>smart garbage maintenance</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="main-box">
    <div class="box box1">
        <button class="btn" ><a href="admin_login">ADMIN</a></button>
    </div>
    <div class="box box2">
        <button class="btn"><a href="/employee_login">GARBAGE COLLECTOR</a></button>
    </div> 
    <div class="box box3">
        <button class="btn"><a href="/user_login">USER</a></button>
    </div>
</div>
</body>
</html>