<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>smart garbage maintanance</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="div-link">
        <a href="/log_out" class="link">logout</a>
       </div>
<div class="center">
    <div class="login-box">
        <h1>register</h1>
        <form action="/register" method="post">
            <div class="input-box">
                <input type="text" class="input-line" name="name" placeholder="name" required/>
            </div>
           <div class="input-box">
            <input type="number" class="input-line" name="number" placeholder="numeber" required/>
           </div>
            <div class="input-box">
                <input type="email" class="input-line" name="Email" placeholder="Email" required/>
            </div>
            <div class="input-box">
                <input type="text"  class="input-line" name="gender" placeholder="Gender" required/>
            </div>
            <div class="input-box">
                <input type="text"  class="input-line" name="address" placeholder="Address" required/>
            </div>
            <div class="input-box">
                <input type="text"  class="input-line" name="area" placeholder="area" required/>
            </div>
            <div class="input-box">
                <input type="text"  class="input-line" name="pincode" placeholder="Pincode" required/>
            </div>
            <div class="input-box">
                <input type="text"  class="input-line" name="username" placeholder="Username" required/>
            </div>
            <div class="input-box">
                <input type="password"  class="input-line" name="password" placeholder="Password" required/>
            </div>
            <button class="button" type="submit">login</button>
        </form>
    </div>
</div>
</body>
</html>