<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>smart garbage maintanance</title>
    <link rel="stylesheet" href="../static/style1.css">

</head>
<body>
      <nav class="nav-bar">
        <div class="logo">
            <h1>Smart garbage maintenance</h1>
        </div>
        <div class="nav-list">
          <ul>
              <li><a href="/user_home">Home</a></li>
              <li><a href="/view_time">view time</a></li>
              <li><a href="/make_request">make request</a></li>
              <li><a href="/give_feedback">give feedback</a></li>
              <li><a href="/log_out">logout</a></li>
          </ul>
        </div>
      </nav>
     <div class="center">
      <div class="holl-box">
        <h1>give feedback</h1>
        <form action="/user_feedback_update" method="post">
          {%for i in items %}
          <div class="input-box">
            <input type="text" name="name" class="input-line" value="{{i[1]}}" placeholder="name">
          </div>
          <div class="input-box">
            <input type="text" name="area" class="input-line" value="{{i[9]}}" placeholder="area">
          </div>
          <div class="input-box">
            <input type="text" name="content" class="input-line" placeholder="content">
          </div>
         
          
          
          <button class="button" type="submit">sumbit</button>
          {% endfor %}
      </form>
      </div>
     </div>
</body>
</html>